.card {
  width: 100%;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
  padding: var(--spacing-xs);
}

@media (min-width: 480px) {
  .card {
    width: 50%;
  }
}

.poster {
  display: block;
  width: 100%;
  box-shadow: var(--elevation-mid);
}

.card:hover .poster {
  box-shadow: var(--elevation-high);
}

.title {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  margin: var(--spacing-xs) 0;
  text-align: center;
  flex: 1;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.year {
  font-weight: var(--font-weight-semibold);
}

.aside {
  padding: var(--spacing-xs);
  display: flex;
  flex-direction: column;
  text-align: center;
}