@import './colors.css';
@import './typography.css';
@import './spacing.css';
@import './elevation.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  padding: 0;
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#__next > main {
  flex: 1;
  padding: var(--spacing-xs) 0;
  position: relative;
}

button {
  padding: var(--spacing-xxs) var(--spacing-l);
  background-color: var(--color-primary-mid);
  color: var(--color-white);
  border: none;
  border-radius: var(--spacing-xxs);
  box-shadow: var(--elevation-mid);
}

button:hover {
  background-color: var(--color-primary-light);
  box-shadow: var(--elevation-high);
}

button:active {
  background-color: var(--color-primary-dark);
  box-shadow: var(--elevation-low);
}

input[type='text'] {
  flex: 1;
  margin-right: var(--spacing-xs);
  border-radius: var(--spacing-xxs);
  padding: var(--spacing-xs);
  border: none;
  box-shadow: inset var(--elevation-mid);
  border-radius: var(--spacing-xs);
  font-size: var(--font-size-xs);
  font-family: var(--font-family-sans-serif);
  color: inherit;
}

input[type='text']:focus-visible {
  outline: none;
  box-shadow: inset var(--elevation-low);
}

.page-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
