@import './colors.css';
@import './typography.css';
@import './spacing.css';
@import './elevation.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  padding: 0;
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#__next > main {
  flex: 1;
  padding: var(--spacing-xs) 0;
  position: relative;
}

button {
  padding: var(--spacing-xxs) var(--spacing-l);
  background-color: var(--color-primary-mid);
  color: var(--color-white);
  border: none;
  border-radius: var(--spacing-xs);
}
